<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" class="search-form" @submit.prevent="filter">
                <input type="text" class="search-field" v-model="userSearch">
                <button class="btn-search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" type="button" @click="openCart">Корзина</button>
            <div class="cart-block" v-bind:class="{ invisible: invisibility}">
                <div v-for="item of cart" :key="item.id_product" class="cart-block-item">
                    <p class="item-row"><span> Название:</span> <span> {{ item.product_name }} </span>   </p>
                    <p class="item-row"><span> Количество:</span> <span> {{ item.quantity }} </span>   </p>
                    <p class="item-row"><span> Цена:</span> <span> {{ item.quantity * item.price }} </span>   </p>
                    <button @click="removeProduct(item)" class="delete-item">Х</button>
                </div>
                <div class="empty-cart" v-bind:class="{ invisible: isEmpty}"><span>В корзине ничего нет.</span></div>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of filtered" :key="product.id_product">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}} $</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

<!--<div class="cart-item" data-id="${this.id_product}">-->
    <!--<div class="product-bio">-->
        <!--<img src="${this.img}" alt="Some image">-->
        <!--<div class="product-desc">-->
            <!--<p class="product-title">${this.product_name}</p>-->
            <!--<p class="product-quantity">Quantity: ${this.quantity}</p>-->
            <!--<p class="product-single-price">$${this.price} each</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="right-block">-->
        <!--<p class="product-price">${this.quantity*this.price}</p>-->
        <!--<button class="del-btn" data-id="${this.id_product}">&times;</button>-->
    <!--</div>-->
<!--</div>-->